.productCardList {
  display: inline-flex;
  padding: 0;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
}