.app {
  height: 100vh;

  main > h1 {
    padding: 1rem;
    border-bottom: thin solid #ccc;
  }

  main > p {
    padding: 1rem;
  }
}

.appHeader {

}

.productCardListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productCardList {

}

.productDetailListContainer {
  summary {
    text-align: left;
    padding: .5rem;
    cursor: pointer;
    text-decoration: underline;

    > * {
      display: inline-block;
      padding: 0;
    }

    &:active, &:focus-within, &:hover {
      background: rgba(lightblue, .3);
    }
  }

  summary + div {
    padding: 1rem;
  }

  h2 {
    &:after {
      pointer-events: none;
      margin-left: 1rem;
      opacity: .3;
    }

    span:nth-child(2) {
      display: block;
      font-style: italic;
      font-weight: 400;
      margin-left: .5rem;
      font-size: .95em;
    }
  }

  h2 {
    display: inline-block;
    line-height: 2em;
    height: 3rem;
  }
}